.hero {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-200);
    
    @include breakpoint(tablet) {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, auto);
        gap: var(--spacing-300);
    }

    @include breakpoint(desktop) {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, auto);
    }

    &__total,
    &__active-goals,
    &__completed-goals {
        h2 {
            @include text-preset-5;
            margin-bottom: var(--spacing-400);
        }
    }
    
    &__active-goals,
    &__completed-goals {
        position: relative;
        overflow: hidden;

        &::after {
            content: url('../../assets/images/pattern-star.svg');
            position: absolute;
            right: -15%;
            bottom: -80%;
        }
    }

    &__total {
        @include breakpoint(tablet) {
            grid-column: 1 / 3;
        }
    }

    &__active-goals {
        p {
            color: var(--orange-400);
        }
    }

    &__completed-goals {
        p {
            color: var(--green-500);
        }
    }

    &__barchart-container {
        @include breakpoint(tablet) {
            grid-column: 1 / 3;
        }

        @include breakpoint(desktop) {
            grid-column: 1 / 5;
        }
    }
}