@use './fonts' as *;

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--spacing-125);
    padding: var(--spacing-150) var(--spacing-250);
    border: none;
    border-radius: var(--radius-full);

    &--primary {
        background-color: var(--orange-400);
        color: var(--neutral-900);
        @include text-preset-5;
    }

    &--secondary {
        background-color: var(--neutral-600);
        color: var(--neutral-0);
        @include text-preset-5;
    }
}