:root {
    // Neutral
    --neutral-0:   #FFFFFF;
    --neutral-300: #B7B7B7;
    --neutral-400: #898A8B;
    --neutral-500: #676767;
    --neutral-600: #3C3B40;
    --neutral-700: #313131;
    --neutral-800: #1F1F1F;
    --neutral-900: #101010;

    // Orange
    --orange-400:  #FF5722;
    --orange-500:  #EB430E;
    --orange-700:  #B92B09;
    --orange-800:  #903014;

    // Green
    --green-500:   #4ADE80;
    --green-900:   #1A3D2B;

    // Red
    --red-500:     #EF4444;
}
