@use './fonts' as *;
@use './breakpoints' as *;

* {
    box-sizing: border-box;
}

body {
    background-color: var(--neutral-900);
    color: var(--neutral-0);
    margin: 0;
    font-family: 'Inter', sans-serif;
    max-width: 1440px;
    margin: 0 auto;
}

p, h1, h2, h3, h4, h5 {
    margin: 0;
}

a {
    text-decoration: none;
    margin: 0;
}

.container {
    width: 100%;
    padding: var(--spacing-400) var(--spacing-side-padding-mobile);

    @include breakpoint(tablet) {
        padding: var(--spacing-400) var(--spacing-side-padding-tablet);
    }

    @include breakpoint(desktop) {
        padding: var(--spacing-400) var(--spacing-side-padding-desktop);
    }
}

.card {
    padding: var(--spacing-200);
    border-radius: var(--radius-16);
    border: 1px solid var(--neutral-600);
    background-color: var(--neutral-800);

    @include breakpoint(tablet) {
        padding: var(--spacing-250);
    }

    &--primary {
        background-image: linear-gradient(to right, var(--orange-700), var(--orange-400));
    }
    
    p {
        @include text-preset-1-mobile;
    }
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}